<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Pick 'n Chill</title>
</head>
<div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Welcome to Pick 'n Chill!</h1>
          <h2 class="text-center">Stream the movie you want on your platform.</h2>
        </div>
      </div>
    </div>
</div>

<div id="suggestedMovies">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-left">Check out this week's suggested movies!</h5>
        <!--*Insert this week's suggested movies*-->
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright 2019</p>
      </div>
    </div>
  </div>
</div>
<body>

</body>

</html>