<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
    <div id="header" class="mb-5">
        <div class="container">
          <nav>
            <div class="row">
              <div class="col-md-4">
                <img src="https://webstockreview.net/images/pickle-clipart-gangster-4.png" class="logo">
                &nbsp;
                <h1 class="text-left glow d-inline title">Pick 'n Chill</h1>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-5">
                <form class="form-inline">
                    <h5 class="text-right d-inline"><a href="#">Sign Up </a></h5>
                    <p class="d-inline"> | </p>
                    <h5 class="text-right d-inline"><a href="#"> Log In</a></h5>
                  <input id="searchMoviesInput" class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <button id="searchMoviesBtn" class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

    <div class="container">
        <div class="row">
          <div class="col-8 offset-2">
            <div class="card mt-4">
              <div class="card-body">
                <h5 class="card-title">Example</h5>
                <p>
                  <strong>ID</strong>: {{example.id}}</p>
                <p>
                <p>
                  <strong>Text</strong>: {{example.text}}</p>
                <p>
                  <strong>Description:</strong> {{example.description}}</p>
                  <a href="/">← Back To Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>