<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
<div id="header" class="mb-5">
  <div class="container">
    <nav>
      <div class="row">
        <div class="col-md-4">
          <img src="https://webstockreview.net/images/pickle-clipart-gangster-4.png" class="logo">
          &nbsp;
          <h1 class="text-left glow d-inline title">Pick 'n Chill</h1>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <form class="form-inline">
              <h5 class="text-right d-inline"><a href="#">Sign Up </a></h5>
              <p class="d-inline"> | </p>
              <h5 class="text-right d-inline"><a href="#"> Log In</a></h5>
            <input id="searchMoviesInput" class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button id="searchMoviesBtn" class="btn btn-outline-success" type="submit">Search</button>
          </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

  <form class="clearfix mb-4" action="POST">
    <div class="form-group">
      <h3>Submit your <!--*Insert movie watched here*--> movie review.</h3>
      <label for="userName">Name:</label>
      <input type="text" id="userNameInput" class="form-control" aria-describedby="example-text" placeholder="Type your name here">
      <label for="userMovieReview">Movie Review:</label>
      <textarea class="form-control" id="userMovieReviewInput" aria-describedby="example-description" placeholder="Type your movie review here"></textarea>
    </div>
      <button id="submit" class="btn btn-primary float-right">Submit</button>
  </form>

  <div id="pastReviews">
    <h3>Past Reviews:</h3>
    <!--Show previous movie reviews here-->
  </div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center mb-0">Created by The Stream Team</p>
        <p class="text-center">Copyright 2019</p>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/public/js/home.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
      
</body>
</html>